<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.neonlotus.lazywizard">

    <application
        android:allowBackup="true"
        android:icon="@drawable/lwicon"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.CharacterDialog"
            android:theme="@android:style/Theme.Dialog"></activity>

        <!--<meta-data
            android:name="AA_DB_NAME"
            android:value="LazyWizard.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />-->

        <service
            android:name="net.neonlotus.lazywizard.application.MainService"
            android:icon="@drawable/ic_launcher"
            android:label="Service"></service>


    </application>


</manifest>
<!-- com.activeandroid.app.Application -->
    <!-- net.neonlotus.lazywizard.application.MyApplication_ -->

    <!--<application android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/lwicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">-->